node_modules
.*/
!.vscode
src/__generated__
*.psd
*.ai
*.zip
*.7z
tmp/
# Arquivos de saída do Jekyll (para cache em build no github Actions)
# O GitHub Pages gera a pasta _site automaticamente
!_site`

0. Autoriza .md em ./.agents/
/src/.agents
